.App {
  text-align: center;
  font-size: larger;
}

table {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  font-size: larger;
  border-style:inset;
  border-color:gray;

}
td {
  text-align: center;
  font-size: larger;
  border-style:groove;
  padding :2vh;
  background-color: aqua;
 
}
