.App {
  text-align: center;
  font-size: larger;
}

table {
  text-align: center;
  font-size: larger;
  border-style:inset;
  border-color:gray;
}
td {
  text-align: center;
  font-size: larger;
  border-style:groove;
  padding :2vh;
  background-color: aqua;
 
}
.smiley::before {
  content: "\01F603";
}